/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
* {
  box-sizing: border-box;
}
html {
  background: url('images/diepenbeek2020_header_0.png') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  margin: 0;
}

.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
  gap: 1rem;
}

.grid-item {
  display: grid;
  place-items: center;
  height: 95vh;
}

.title-text {
  color: #e80444;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 15px;
  width: 90%;
  border-radius: 25px;
}
.title-text h4 {
  color: #44474b;
}
.slider-wrap {
  height: auto;
}
.slider-wrap .slider {
  display: grid;
  justify-content: center;
}

.slider-item {
  width: 630px;
  padding: 20px 0 25px 30px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  z-index: 0;
  margin-bottom: 25px;
}
.slider-item .animation-card_content {
  width: 100%;
  margin-right: 26px;
  margin-left: 26px;
  font-family: 'Open Sans', sans-serif;
}
.slider-item .animation-card_content .animation-card_content_title {
  color: #e80444;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.18px;
  line-height: 24px;
  margin: 0;
}
.slider-item .animation-card_content .animation-card_content_description {
  color: #696d74;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 24px;
  margin: 10px 0 0 0;
} */
